data/
R/rdata/
R/figures/
R/figures2/

# Java compling files
*.idea
*.iml
*target

# History files
.Rhistory
.RData

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
.Rproj.user
